body {
  background-color: black;
  color: orange;
}

.vertical-container {
  height: 300px;
  font-size: 275%;
  display: -webkit-flex;
  display:         flex;
  -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
}
